<div class="tab-pane fade show active" id="all-coupons">
    <div class="coupon-container">
        <!-- Kullanılmamış Kupon -->
        <div class="coupon-card">
            <div class="coupon-header"><b>50 </b>TL İndirim</div>
            <div class="coupon-limit">Alt limit: 100 TL</div>
            <div class="coupon-used"><i class="fas fa-check-circle"></i> 11.12.2025 tarihine kadar geçerlidir.</div>
            <div class="dashed-line"></div>
            <div class="coupon-footer">100 TL ve üzeri alışverişlerde tüm indirimlere ek 20 TL indirim.</div>
        </div>
        <!-- Kullanım Süresi Geçmiş Kupon -->
        <div class="coupon-card">
            <div class="coupon-header"><b>25 </b>TL İndirim</div>
            <div class="coupon-limit">Alt limit: 0 TL</div>
            @*<div class="coupon-code">LGCC381747</div>*@
            <div class="coupon-expired"><i class="fas fa-times-circle"></i> 19.07.2021 tarihine kadar geçerlidir.</div>
            <div class="dashed-line"></div>
            <div class="coupon-footer">Hepsiburada hediye çekiniz.</div>
        </div>

        <!-- Kullanılmış Kupon -->
        <div class="coupon-card">
            <div class="coupon-header"><b>20 </b>TL İndirim</div>
            <div class="coupon-limit">Alt limit: 100 TL</div>
            <div class="coupon-used"><i class="fas fa-times-circle"></i> 11.12.2024 tarihinde kullanıldı.</div>
            <div class="dashed-line"></div>
            <div class="coupon-footer">100 TL ve üzeri alışverişlerde tüm indirimlere ek 20 TL indirim.</div>
        </div>
    </div>
</div>