<div class="tab-pane fade" id="change-password">
    <h5>Parola Değişikliği</h5>
    <form method="post" action="ChangePassword">
        <div class="mb-3">
            <label for="password" class="form-label">Mevcut Parola</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">Yeni Parola</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
        </div>
        <div class="mb-3">
            <label for="againPassword" class="form-label">Tekrar Yeni Parola</label>
            <input type="password" class="form-control" id="newPassword" name="againPassword" required>
        </div>
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </form>
    <p class="mt-3 link-info"><i class="bi bi-info-circle"></i> Güvenliğiniz için adınız, soyadınız ve doğum tarihinizi içermeyen bir parola belirleyin.</p>
</div>