<div class="modal-header">
    <h5 class="modal-title" id="myModalLabel">Form</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <form id="userForm">
        <div class="mb-3">
            <label class="form-label">E-Posta</label>
            <input type="email" class="form-control" name="Email"  required>
        </div>
        <button type="submit" class="btn btn-success">Kaydet</button>
    </form>
</div>
