<div class="tab-pane fade" id="communication-settings">
    <h5>İletişim Bilgileri</h5>
    <p>Bu bilgileri değiştirebilmek için yeni e-posta adresinizi doğrulamanızı isteyeceğiz.</p>
    <form method="post" action="CommunicationSettings">
        <div class="mb-3 phone">
            <label for="phone" class="form-label">Cep Telefonu</label>
            <input type="email" class="form-control" id="phone" name="phone" placeholder="Telefon numaranızı girin" required>
        </div>
        <div class="mb-3 email">
            <label for="email" class="form-label">E-Posta</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="E-Posta adresinizi girin" required>
        </div>
        <button class="btn btn-primary" type="submit">Güncelle</button>
    </form>
</div>