<nav @*class="menu-container"*@>
    <h4 class="menu-title"><i class="fas fa-user-circle me-2"></i>Hesabım</h4>
    <ul>
        <li><a href="#user"><i class="bi bi-person-circle"></i> Kullanıcı Bilgilerim</a></li>
        <li><a href="#order"><i class="bi bi-box-seam"></i> Siparişlerim</a></li>
        <li><a href="#coupon"><i class="bi bi-ticket-detailed"></i> Kuponlarım</a></li>
        <li><a href="#favorite"><i class="bi bi-heart"></i> Beğendiklerim</a></li>
        @*<li><a href="#rating"><i class="bi bi-star"></i> Değerlendirmelerim</a></li>*@
        <li><a asp-controller="Main" asp-action="Index"><i class="bi bi-door-closed"></i> Çıkış</a></li>
    </ul>
</nav>