<div class="order-header">
    <form action="" method="post" class="d-flex">
        <input type="text" name="search" class="form-control" placeholder="Siparişlerimde ara...">
        @*<button type="submit" class="btn btn-warning ms-2">Ara</button>*@
    </form>
    <div class="order-filter">
        <button class="btn active">Tümü</button>
        <button class="btn">Devam edenler</button>
        <button class="btn">İptaller</button>
        <button class="btn">İadeler</button>
        <button class="btn">Teslim edilemeyenler</button>
    </div>
    <select>
        <option value="0">Tüm Siparişler</option>
        <option value="0">Son 30 Gün</option>
        <option value="0">Son 6 Ay</option>
        <option value="0">Son 1 Yıl</option>
        <option value="0">1 Yıl Önce</option>
    </select>
</div>
<div class="order-body">
    <div class="orders mt-3 mb-3">
        <img class="order-image" src="~/img/AMD Ryzen 5 5600X.jpg" />
        <span class="order-no">Sipariş No: <b>123</b></span>
        <span class="order-status"><i class="bi bi-check"></i> Sipariş Tamamlandı</span>
        <span class="order-date">11 Aralık 2024 </span>
        <span class="order-price">₺134,90 </span>
    </div>
    <div class="orders mt-3 mb-3">
        <img class="order-image" src="~/img/AMD Ryzen 5 5600X.jpg" />
        <span class="order-no">Sipariş No: <b>123</b></span>
        <span class="order-status"><i class="bi bi-check"></i> Sipariş Tamamlandı</span>
        <span class="order-date">11 Aralık 2024 </span>
        <span class="order-price">₺134,90 </span>
    </div>
    <div class="orders mt-3 mb-3">
        <img class="order-image" src="~/img/AMD Ryzen 5 5600X.jpg" />
        <span class="order-no">Sipariş No: <b>123</b></span>
        <span class="order-status"><i class="bi bi-check"></i> Sipariş Tamamlandı</span>
        <span class="order-date">11 Aralık 2024 </span>
        <span class="order-price">₺134,90 </span>
    </div>
    <div class="orders mt-3 mb-3">
        <img class="order-image" src="~/img/AMD Ryzen 5 5600X.jpg" />
        <span class="order-no">Sipariş No: <b>123</b></span>
        <span class="order-status"><i class="bi bi-check"></i> Sipariş Tamamlandı</span>
        <span class="order-date">11 Aralık 2024 </span>
        <span class="order-price">₺134,90 </span>
    </div>
</div>