@model IEnumerable<ECOM.Data.OrderHistory>?

<link rel="stylesheet" href="~/css/account.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<div class="order-header">
    <form action="" method="post" class="d-flex">
        <input type="text" name="search" class="form-control" placeholder="Siparişlerimde ara...">
        @*<button type="submit" class="btn btn-warning ms-2">Ara</button>*@
    </form>
    <div class="order-filter">
        <button class="btn active">Tümü</button>
        <button class="btn">Devam edenler</button>
        <button class="btn">İptaller</button>
        <button class="btn">İadeler</button>
        <button class="btn">Teslim edilemeyenler</button>
    </div>
    <select>
        <option value="0">Tüm Siparişler</option>
        <option value="0">Son 30 Gün</option>
        <option value="0">Son 6 Ay</option>
        <option value="0">Son 1 Yıl</option>
        <option value="0">1 Yıl Önce</option>
    </select>
</div>
<div class="order-body">
    @if (Model is null)
    {
        <div class="alert alert-info">
            <p>Henüz Siparişiniz Yok</p>
        </div>
    }
    else
    {
        @foreach (var order in Model)
        {
            string? orderStatus;
            @if (order.DeliveryDate is not null)
            {
                orderStatus = "Teslim Edildi.";
            }
            else
            {
                orderStatus = "Sipariş Hazırlanıyor.";
            }
            <div class="orders mt-3 mb-3">
                <img class="order-image" src="~/@order.Product.ImagePath" />
                <span class="order-no">Sipariş No: <b>@order.OrderId</b></span>
                <span class="order-status"><i class="bi bi-check"></i> @orderStatus</span>
                <span class="order-date">@order.OrderDate!.Value.ToShortDateString()</span>
                <span class="order-price">₺@order.TotalPrice</span>
            </div>
        }
    }
</div>