<ul class="nav nav-tabs" id="tabMenu">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#all-coupons">Tüm Kuponlar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#enable-coupons">Aktif Kuponlar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#disable-coupons">Geçmiş Kuponlar</a>
    </li>
</ul>