<ul class="nav nav-tabs" id="tabMenu">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#membership">Üyelik Bilgileri</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#communication-settings">İletişim Bilgileri</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#change-password">Parola Değişikliği</a>
    </li>
</ul>