@model IEnumerable<ECOM.Data.Product>
<link rel="stylesheet" href="~/css/main.css">

<script src="~/js/fav-icon.js"></script>

<!-- Ürünler -->
<div class="container mt-4">
    <h3>Ürünler</h3>
    @TempData["Email"]
    <div class="row">

        @foreach (var product in Model)
        {
            @await Html.PartialAsync("Product", product)
        }

    </div>
</div>