@model IEnumerable<ECOM.DTO.ProductDTO>
<link rel="stylesheet" href="~/css/main.css">

<!-- Ürünler -->
<div class="container mt-4">
    <h3>Ürünler</h3>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @if (Model is not null)
        {
            foreach (var product in Model)
            {
                @await Html.PartialAsync("Product", product)
            }
        }
    </div>
</div>

<script src="~/js/favorite.js"></script>
@*<script src="~/js/fav-icon.js"></script>*@