<link rel="stylesheet" href="~/css/main.css">

<script src="~/js/fav-icon.js"></script>

<!-- Ürünler -->
<div class="container mt-4">
    <h3>Ürünler</h3>
    @TempData["Email"]
    <div class="row">
        @await Html.PartialAsync("Product")
        @await Html.PartialAsync("Product")
        @await Html.PartialAsync("Product")
        @await Html.PartialAsync("Product")
        @await Html.PartialAsync("Product")
        @await Html.PartialAsync("Product")
    </div>
</div>