<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/login.css">

<div class="forgotpassword-container">
    <h2>Parola Yenileme</h2>
    <p class="forgotpassword-content">Parola yenileme bağlantısını gönderebilmemiz için e-mail adresinize ihtiyacımız var.</p>

    <form action="ForgotPassword" method="post">
        <div class="mb-3">
            <input type="email" id="email" name="email" class="form-control" placeholder="E-Mail Adresi" required>
        </div>
        <!-- geçerli bir email girene kadar buton disable olacak bknz:0001-->
        <button type="submit" class="btn btn-custom">Devam Et</button>
    </form>

    @ViewBag.Info
</div>

<script src="~/lib/popperjs/dist/umd/popper.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>