@model ECOM.Models.CartViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
@*<link rel="stylesheet" href="http://localhost:5045//lib/font-awesome/css/all.min.css">*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="~/css/cart-header.css">
<link rel="stylesheet" href="~/css/cart.css">


<div class="container mt-4">
    <div class="top d-flex align-items-center justify-content-between shadow-sm">
        @await Html.PartialAsync("Cart-Header") <!--header-->
    </div>

    @if (Model.Carts is null)
    {<div class="empty-cart">
            <!--Sepet boşsa çıkacak mesaj-->
            <div class="message">
                <img src="~/img/cart.gif" width="150" alt="cart" />
                <h4>Sepetin şu an boş</h4>
                <p>
                    Sepetini e-com’un fırsatlarla dolu dünyasından doldurmak için <br />aşağıdaki ürünleri incelemeye başlayabilirsin.
                </p>
            </div>
            <hr />
            <!--beğendiklerim-->
            <div class="suggestion">
                <h4 class="suggestion-header">Beğendiklerim</h4>
                @await Html.PartialAsync("Suggestion", Model.Favorites)
            </div>
        </div>
    }
    else
    {

        <div class="nonemtpy-cart">

            <div class="cart-sub-header">
                <hr />
                <span class="cart-text">Sepetim</span>
                <span class="product-count">(2 Ürün)</span>
            </div>
        </div>
        <!--kuponlar-->
        <div class="coupons d-flex justify-content-between align-items-center col-9">
            <a asp-controller="Account" asp-action="Index" asp-route-id="coupon" class="coupon">
                <i class="fas fa-gift"></i>
                Kuponlarım
            </a>

            <a href="#" class="add-coupon">
                Kupon Kodu Ekle
                <i class="fas fa-plus"></i>
            </a>
        </div>
        <!--sepetim-->
        <div class="my-cart">
            <div class="orders col-9">
                @foreach (var cart in Model.Carts.ToList())
                {
                    @await Html.PartialAsync("~/Views/Cart/Cart.cshtml", cart)
                }
            </div>
            <!--Sipariş Özeti-->
            <div class="cart-total col-3"> <!--col kısmına bir tekrar bak-->
                <h5>SEÇİLEN ÜRÜNLER (2)</h5>
                <span><b>₺8513,00</b></span>
                <form>
                    <input type="hidden" name="cart-total" value="8513" />
                    <button type="submit" class="btn btn-warning"><b>Alışverişi Tamamla</b></button>
                </form>
                <hr />
                <div>
                    Ürünler<span> ₺8513,00</span>
                    <br />
                    Kargo<span> Bedava</span>
                </div>
            </div>
        </div>
        <!--beğendiklerim-->
        <div class="suggestion col-9">
            <h4 class="suggestion-header">Beğendiklerim</h4>
            @await Html.PartialAsync("Suggestion", Model.Favorites)
        </div>

    }
</div>