<div class="suggestion">
    <!--beğendiklerim-->
    @await Html.PartialAsync("Product")
    @await Html.PartialAsync("Product")
    @await Html.PartialAsync("Product")
    @await Html.PartialAsync("Product")
    @await Html.PartialAsync("Product")
    @await Html.PartialAsync("Product")
</div>