<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


<div class="footer justify-content-evenly d-flex">
    <div class="institutional">
        <h4 class="header">Kurumsal</h4>
        <ul>
            <li>
                <a href="#">Hakkımızda</a>
            </li>
            <li>
                <a href="#">Bilgi Güvenliği Politikası</a>
            </li>
            <li>
                <a href="#">Güvenli Alışveriş Kılavuzu</a>
            </li>
        </ul>
    </div>
    <div class="social">
        <h4 class="header">Bizi Takip Edin</h4>
        <ul>
            <li>
                <a href="#">
                    <img /> <!--insta-->
                    Instagram
                </a>
            </li>
            <li>
                <a href="#">
                    <img /> <!--Linkedin-->
                    Linkedin
                </a>
            </li>
            <li>
                <a href="#">
                    <img /> <!--github-->
                    Github
                </a>
            </li>
        </ul>
    </div>
    <div class="communication">
        <h4 class="header">Aklınıza Takılan Bir Soru Mu Var?</h4>
        <ul>
            <li>
                <a href="#">
                    <!--mail-->
                    mail
                </a>
            </li>
            <li>
                <a href="#">
                    <!--wp-->
                    wp
                </a>
            </li>
        </ul>
    </div>
</div>