<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_COM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_COM.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">

</head>
<body>
    <header>
        @{ bool isLoginPage = ViewContext.RouteData.Values["Controller"]?.ToString() == "Login";
        }
        @{
            bool isAccountPage = ViewContext.RouteData.Values["Controller"]?.ToString() == "Account";
        }
        @{
            bool isCartPage = ViewContext.RouteData.Values["Controller"]?.ToString() == "Cart";
        }
        @{ if (!isLoginPage && !isAccountPage && !isCartPage)
                @await Html.PartialAsync("_Header");
        }
    </header>

    <div class="container mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted">
        @{ if (!isLoginPage)
                @await Html.PartialAsync("_Footer")
        }
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>