<div class="col-3 mt-4">
    <div class="card product-card">
        <a href="#" class="favorite-btn">
            <i class="fas fa-heart"></i>
        </a>
        <a asp-controller="Product" asp-action="Index" class="product">
            <img src="~/img/logo.png" class="card-img-top" alt="Ürün 1">
            <div class="card-body">
                <div class="product-name">
                    <h5 class="card-title">Ürün 1</h5>
                </div>
                <div class="star-rating">
                    <span class="star" data-filled="true">&#9733;</span>
                    <span class="star" data-filled="true">&#9733;</span>
                    <span class="star" data-filled="true">&#9733;</span>
                    <span class="star" data-filled="true">&#9733;</span>
                    <span class="star" data-filled="false">&#9733;</span>
                </div>
                <div class="price"><b>₺120,5</b></div>
            </div>
        </a>
    </div>
</div>