@model ECOM.Data.Product

<div class="col-3 mt-4">
    <div class="card product-card">
        <a href="#" class="favorite-btn">
            <i class="fas fa-heart"></i>
        </a>
        <a asp-controller="Product" asp-action="Index" asp-route-id="@Model.ProductId" class="product">
            <img src="~/img/msi 100m.jpg" class="card-img-top" alt="Ürün 1">
            <div class="card-body">
                <div class="product-name">
                    <h5 class="card-title">@Model.Name</h5>
                </div>
                <div class="star-rating">
                   

                    <span class="star" data-filled="true">&#9733;</span>
                    <span class="star" data-filled="true">&#9733;</span>
                    <span class="star" data-filled="true">&#9733;</span>
                    <span class="star" data-filled="true">&#9733;</span>
                    <span class="star" data-filled="false">&#9733;</span>
                </div>
                <div class="price"><b>₺@Model.Price</b></div>
            </div>
        </a>
    </div>
</div>