@model IEnumerable<ECOM.Data.Favorites>

<div class="suggestion">
    <!--beğendiklerim-->
    @foreach (var favorite in Model)
    {
        @await Html.PartialAsync("Favorite",favorite.Product)
    }
</div>